@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  scroll-behavior: smooth;
}

section{
  padding: 100px 200px;
}

/* home section starts */

.main{
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  background: #D3E5E4;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.main .content{
  max-width: 800px;
}

.main .content h2{
  color: #0A2C37;
  font-size: 2em;
  font-weight: 500;
}

.main .content h2 span{
  font-size: 2.8em;
  font-weight: 600;
  color: #2D736D;
}
.animated-text h2{
  color: #0A2C37 !important;
  font-size: 3em !important;
  font-weight: 700 !important;
  letter-spacing: 1px !important;
}
.btn{
  color: white;
  background: #F6D881;
  font-size: 1em;
  font-weight: 600;
  display: inline-block;
  padding: 10px 20px;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 1px;
  border-radius: 2px;
  margin-top: 30px;
  transition: 0.5s ease;
}

.btn:hover{
  color: #0A2C37;
}

/* home section ends */


/* header section starts */

header{
  z-index: 999;
  position: fixed;
  background: white;
  top: 0;
  left: 0;
  width: 100%;
  padding: 15px 200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.5s ease;
}

header.sticky{
  background: white;
  padding: 10px 200px;
}

header .brand{
  color: #2D736D;
  font-size: 1.8em;
  font-weight: 700;
  text-decoration: none;
}
.menu-btn{
  display: none !important;
}

header .navigation{
  position: relative;
}

header .navigation a{
  color: #0A2C37;
  font-size: 1em;
  font-weight: 500;
  text-decoration: none;
  margin-left: 30px;
}

header .navigation a:hover{
  color: #F6D881;
}

header.sticky .navigation a:hover{
  color: #F6D881;
}

/* header section ends */

body{
  min-height: 110vh;
}

/*  about section starts*/
.about{
  background-color: #E9F2F1;
}



.title{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
}

.section-title{
  position: relative;
  color: #2D736D;
  font-size: 2.2em;
  font-weight: 800;
  margin-bottom: 60px;
}

.section-title:before{
  content: '';
  position: absolute;
  top: 56px;
  left: 50%;
  height: 4px;
  background: #2D736D;
  transform: translateX(-50%);
  width: 100%;
}

/* .section-title:after{
  content: '';
  position: absolute;
  top: 50px;
  left: 50%;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #3a6cf4;
  transform: translateX(-50%);
} */

.about .content{
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-direction: row-reverse;
  margin-top: 20px;
  align-items: center;
  gap: 20px;
}

.about .content .col-left{
  position: relative;
  width: 45%;
}

.about .content .col-right{
  position: relative;
  width: 50%;
}

.about .content .col-left .img-card{
  position: relative;
  width: 100%;
  height: 450px;
}

.about .content .col-left .img-card img{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: 20px;
}

.about .content .col-right .content-title{
  font-size: 2em;
  font-weight: 800;
  margin-bottom: 20px;
  color: #0A2C37;
}

.about .content .col-right .paragraph-text{
  font-size: 1em;
  text-align: justify;
  color: #0A2C37;
}

/* about section ends */


/* skills section starts */

.skills{
  background: #D3E5E4;
}

.skills .content{
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #0A2C37;
  margin-top: 20px;
}

.skills .content .col-left{
  position: relative;
  width: 46%;
}
.skills .content .col-left p{
  text-align: justify;
}

.skills .content .col-left .content-title{
  margin-bottom: 20px;
}

.skills .content .col-right{
  position: relative;
  width: 46%;
}

.skills .content .col-right .bar{
  margin-bottom: 15px;
  padding: 10px;
}

.skills .content .col-right .bar .info{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 5px;
}

.skills .content .col-right .bar .info span{
  font-size: 18px;
  font-weight: 500;
  color: #0A2C37;
}

.skills .content .col-right .bar .line{
  position: relative;
  width: 100%;
  height: 15px;
  background: #E9F2F1;
  border-radius: 2px;
}

.skills .content .col-right .bar .line:before{
  content: '';
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  border-radius: 2px;
  
}

.skills .content .col-right .bar .html:before{
  width: 95%;
  background: #2D736D;
  animation: animate1 3s ;
}

.skills .content .col-right .bar .css:before{
  width: 80%;
  background: #2D736D;
  animation: animate2 3s ease;
}

.skills .content .col-right .bar .javascript:before{
  width: 75%;
  background: #2D736D;
  animation: animate3 3s ease;
}

.skills .content .col-right .bar .bootstrap:before{
  width: 80%;
  background: #2D736D;
  animation: animate4 3s ease;
}

@keyframes animate1{
  0%{
    width: 0%;
  }
  100%{
    width: 95%;
  }
}
@keyframes animate2{
  0%{
    width: 0%;
  }
  100%{
    width: 80%;
  }
}
@keyframes animate3{
  0%{
    width: 0%;
  }
  100%{
    width: 75%;
  }
}
@keyframes animate4{
  0%{
    width: 0%;
  }
  100%{
    width: 80%;
  }
}

/* skills sections ends */


/* services section starts */

.services{
  background-color:#E9F2F1 ;
}

.services .content{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
  margin-top: 20px;
}

.title p{
  font-size: 1em;
  width: 80%;
}

.services .content .card{
  background: #E9F2F1;
  width: 340px;
  margin: 10px;
  padding: 25px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 5px 25px rgba(1 1 1 / 15%);
  border-radius: 10px;
}

.services .content .card .service-icon{
  color: #0A2C37;
  font-size: 8em;
  text-align: center;
  transition: transform 0.5s ease;
}

.services .content .card:hover .service-icon{
  transform: translateY(-10px);
}

.services .content .card .info{
  text-align: center;
}

.services .content .card .info h3{
  color: #2D736D;
  font-size: 1.2em;
  font-weight: 700;
  margin: 10px;
}
.services .content .card .info p{
  text-align: justify;
  color: #0A2C37;
}

/* services section ends */

/* work section starts */
.work{
  background: #D3E5E4;
}

.work .content{
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 20px;
}

.work .content .card{
  width: 340px;
  margin: 15px;
  position: relative;
}
.work .content .card:hover .blur{
  position: absolute;
  bottom: 0;
  background: #0A2C37;
  z-index: 2;
  width: 100%;
  height: 15%;
  transition: 0.3s linear;
  cursor: pointer;
}
.work .content .card:hover .visit{
  position: absolute;
  right: 0;
  bottom: 20px;
  height: 20px;
  z-index: 3;
  text-decoration: none;
  color: #fff;
  font-size: 25px;
  text-align:  right;
  /* width: 150px; */
  border-radius: 3px;
  padding: 5px 10px;
  font-weight: 600;
}
.work .content .card:hover .card-img img{
  transform: scale(1.2);
}


.work .content .card .card-img{
  position: relative;
  width: 100%;
  height: 260px;
  overflow: hidden;
  border-radius: 10px;
}

.work .content .card .card-img img{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
  transition: 0.5s ease;
}

.work .content .card .card-img img:hover{
  transform: scale(1.2);
}

.work .content .card .card-img a:hover{
  transform: scale(1.1);
  color: #F6D881;
  transition: 0.4s;
}
/* work section ends */


/* contact section starts */

.contact{
  background-color: #E9F2F1;
}

.contact .content{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
  margin-top: 20px;

}

.contact .content .row{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
}

.contact .content .row .card{
  background: #E9F2F1;
  width: 240px;
  margin: 20px;
  padding: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 5px 25px rgba(1 1 1 / 15%);
  border-radius: 10px;
  cursor: pointer;
}

.contact .content .row .card .contact-icon{
  color: #0A2C37;
  font-size: 4em;
  text-align: center;
  transition: transform 0.5s ease;
}

.contact .content .row .card:hover .contact-icon{
  transform: translateY(-10px);
}

.contact .content .row .card .info{
  text-align: center;
}

.contact .content .row .card .info h3{
  color: #2D736D;
  font-size: 1.2em;
  font-weight: 700;
  margin: 10px;
}

.contact .content .row .card .info span{
  color: #76a09d;
  font-weight: 500;
}
.contact-form{
  background: #E9F2F1;
  max-width: 600px;
  margin-top: 50px;
  padding: 50px;
  border-radius: 10px;
  box-shadow: 0 5px 25px rgba(1 1 1 / 15%);
}

.contact-form h3{
  color: #2D736D;
  font-size: 1.6em;
  font-weight: 600;
  text-align: center;
  margin-bottom: 40px;
}

.contact-form .input-box{
  position: relative;
  width: 100%;
  margin-bottom: 20px;
}

.contact-form .input-box input,
.contact-form .input-box textarea{
  width: 100%;
  padding: 10px;
  font-size: 1em;
  font-weight: 400;
  outline: none;
  border: 1px solid #2D736D;
  border-radius: 5px;
  resize: none;
}


.contact-form .input-box .send-btn{
  color: #fff;
  background: #F6D881;
  display: inline-block;
  font-size: 1.1em;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 2px;
  width: 100%;
  border: none;
  cursor: pointer;
  transition: 0.5s ease;
}

.contact-form .input-box .send-btn:hover{
  color: #0A2C37;
}

/* contact section ends */


/* footer section starts */
.footer{
  background: #2D736D;
  color: #fff;
  text-align: center;
  padding: 2em;
}

.footer .footer-title{
  font-size: 20px;
  font-weight: 600;
}

.footer p{
  font-size: 16px;
  margin-top: 10px;
}

.footer p span{
  color: white;
  font-weight: 600;
  text-decoration: none;
}

/* footer section ends */

/* media queries starts */

@media (max-width: 1040px){
  header{
    padding: 12px 20px;
  }

  header.sticky{
    padding: 10px 20px;
  }

  header .navigation{
    display: none;
  }

  header .navigation.active{
    z-index: 888;
    position: fixed;
    background: #E9F2F1;
    top: 0;
    right: 0;
    width: 380px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 5px 25px rgba(1 1 1 / 15%);
    transition: 0.3s ease;
  }

  header .navigation a{
    color: #0A2C37;
    font-size: 1.2em;
    margin: 10px;
    padding: 0 20px;
    border-radius: 20px;
  }

  header .navigation a:hover{
    background: #76a09d;
    color: #F6D881;
    transition: 0.3s ease;
  }

  .menu-btn{
    z-index: 999;
    cursor: pointer;
    transition: 0.3s ease;
    color: #0A2C37;
    font-size: 1.8em;
    display: block !important;
  }



  section{
    padding: 80px 20px;
  }

  .main .content h2{
    font-size: 1em;
  }

  .animated-text h2{
    font-size: 2.2em !important;
  }

  .section-title{
    font-size: 1.8em;
  }

  .about .content{
    flex-direction: column;
  }

  .about .content .column{
    position: relative;
    width: 100%;
  }

  .about .content .col-right{
    margin-top: 40px;
  }

  .skills .content{
    flex-direction: column;
  }

  .skills .content .column{
    position: relative;
    width: 100%;
  }

  .skills .content .col-right{
    margin-top: 40px;
  }

  .contact-form{
    padding: 35px 40px;
  }


}
  /* media queries ends */


  /* javascript section starts */

.scrollToTop-btn{
  z-index: 999;
  position: fixed;
  background: #F6D881;
  color: #0A2C37;
  width: 45px;
  height: 45px;
  right: 0;
  bottom: 10px;
  font-size: 22px;
  text-align: center;
  line-height: 45px;
  border-radius: 3px;
  cursor: pointer;
  pointer-events: none;
  opacity: 0;
  transition: all 0.3s ease;
}

.scrollToTop-btn.active{
  right: 20px;
  opacity: 1;
  pointer-events: auto;
}

.reveal{
  position: relative;
  transform: translateY(50px);
  opacity: 0;
  transition: all 1.5s ease;
}

.reveal.active{
  transform: translateY(0);
  opacity: 1;
}


/* javascript section ends */
      
